<section class="bg-sky-400 h-screen flex items-center justify-center flex-col">
  <header class="p-4 text-white font-bold text-3xl text-center">
    <figure>
      <img src="../assets/logo.png" alt="" width="30%" class="mx-auto sm:w-32" srcset="">
    </figure>
     <h4> Générateur de mot de passe </h4>
  </header>
  <div class="container mx-auto">
    <section class="lg:w-2/4 sm:w-full p-2 mx-auto">
      <ul>
        <li>
          <label for="alpha" (click)="generate()" [ngClass]="alpha.value == true ? 'text-white border-white' : 'text-sky-900 border-sky-900' " class="p-2 block my-2 font-medium cursor-pointer border-l-4 ease-in transition-all duration-300" >
            <input type="checkbox" [formControl]="alpha" class="hidden"  name="alpha" id="alpha"> <i class="fad fa-font-case mx-1"></i> Caractères alphabet
          </label>
        </li>
        <li>
          <label for="chiffre" (click)="generate()" [ngClass]="chiffre.value == true ? 'text-white border-white' : 'text-sky-900 border-sky-900' " class="p-2 block my-2 font-medium cursor-pointer border-l-4 ease-in transition-all duration-300" >
            <input type="checkbox" [formControl]="chiffre" class="hidden"  name="chiffre" id="chiffre"> <i class="fad fa-sort-numeric-down mx-1"></i> Ajouter des chiffres 
          </label>
        </li>
        <li>
          <label for="special_caracter" (click)="generate()" [ngClass]="special_caracter.value == true ? 'text-white border-white' : 'text-sky-900 border-sky-900' " class="p-2 block my-2 font-medium cursor-pointer border-l-4 ease-in transition-all duration-300" >
            <input type="checkbox" [formControl]="special_caracter" class="hidden"  name="special_caracter" id="special_caracter"> <i class="fad fa-shield mx-1"></i> Ajouter Caractères spéciaux 
          </label>
        </li>
        <li>
          <label for="ajuster_chaine" (click)="generate()" [ngClass]="ajuster_chaine.value == true ? 'text-white border-white' : 'text-sky-900 border-sky-900' " class="p-2 block my-2 font-medium cursor-pointer border-l-4 ease-in transition-all duration-300" >
            <input type="checkbox" [formControl]="ajuster_chaine" class="hidden"  name="ajuster_chaine" id="ajuster_chaine"> <i class="fad fa-key mx-1"></i> Ajuster la longueur de la chaine 
          </label>
        </li>
        <li class="p-1 relative ease-in transition-all duration-300 tracking-widest mt-4 text-center font-bold bg-white text-2xl rounded-md">
          <span class="absolute pl-1  left-0 pr-2">
          <button (click)="reset()" title="rafraichir"><i class="fad fa-redo"></i></button>
          </span>
          <span class="ease-in transition-all duration-300">{{ passwordGenerated }}</span>
          <span class="absolute right-0 pr-1  pl-2">
          <button (click)="copyPassword()" [title]="isCopy ? 'Mot de passe copié' : 'Copier le mot de passe' " ><i class="fad fa-copy"></i></button>
          </span>
        </li>
        <li>
        </li>
        <li class="my-2 flex justify-start flex-wrap items-center ease-in transition-all duration-300 flex-row">
          <span *ngIf="status.toLowerCase().indexOf('moyen') != -1 || status.toLowerCase().indexOf('forte') != -1" class="sm:w-32 w-16  block ease-in transition-all duration-300 h-2 p-1 bg-sky-500"></span>
          <span *ngIf="status.toLowerCase().indexOf('fort') != -1" class="sm:w-32 w-16 block h-2 ease-in transition-all duration-300 p-1 bg-sky-700"></span>
          <span *ngIf="status.toLowerCase().indexOf('très') != -1" class="sm:w-32 w-16 block h-2 ease-in transition-all duration-300 p-1 bg-sky-900"></span>
          <span class="ml-5 justify-self-end">{{status | uppercase}}</span>
        </li>
        <li class="text-center p-2 text-sky-900 font-medium">
          <button (click)="copyPassword()"><i class="fad fa-copy"></i> {{ isCopy ? 'Mot de passe copié' : 'Copier le mot de passe' }} </button>
        </li>
      </ul>
      <div class="container flex justify-between">
        <a class="p-2 text-white m-2 text-2xl" href="https://github.com/Diokou-Tech/Password-generator" target="_blank" ><i class="fab fa-github"></i></a>
        <a class="p-2 text-white m-2 text-2xl" href="https://twitter.com/Diokou_Tech" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    </section>
  </div>
</section>